*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    height: 100px;
    background-color: rgba(255, 166, 0, 0.726);
}

nav div img{
    height: 50px;
    width: 50px;
}

nav .botonNav{
    border: solid white;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;
    padding:10px;
}

nav .botonNav:hover{
    color: rgba(255, 166, 0, 0.76);
    background-color: white;
}


.logo{
    display: flex;
}

.logo img{
    height: 70px;
    width: 70px;
}

.titulo{
    text-decoration: none;
    color: white;

}

nav h1{
    font-size: 60px;
    text-decoration: none;
}

.itemList{
    
    display: flex;
    /* display: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.507);
}

.itemList article{
    height: 350px;
    width: 250px;
    border: solid white 2px;
    background-color: rgba(255, 166, 0, 0.507);
    margin: 10px;
    padding: 10px;
}

.itemListContainer{
    background-color: rgba(255, 166, 0, 0.39);
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.itemListContainer article{
    height: 350px;
    width: 250px;
    border: solid white 2px;
    background-color: rgba(255, 166, 0, 0.507);
    margin: 10px;
    padding: 10px;
}

.itemListContainer article h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color:white;
    text-shadow: solid black 2px ;
}

.botonDetalle{
    border: solid white;
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;
    padding:10px;
    display: flex;
    justify-content: center;
}

.botonDetalle:hover{
    color: rgba(255, 166, 0, 0.76);
    background-color: white;
}

.itemContenedor{
    height: 350px;
    width: 250px;
    border: solid white 2px;
    background-color: rgba(255, 166, 0, 0.507);
    margin: 10px;
    padding: 10px;
}

.controles{
    display: flex;
    justify-content: center;
}

.botonContador{
    border: solid white;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 166, 0, 0.507);
    font-size: 25px;
    margin: 10px;
    padding:10px;
}

.botonContador:hover{
    color: rgba(255, 166, 0, 0.76);
    background-color: white;
}

.numeroContador{
    font-size: 50px;
}

.botonAgregar{
    border: solid white;
    text-decoration: none;
    color: white;
    background-color: rgba(255, 166, 0, 0.507);
    font-size: 25px;
    margin: 10px;
    padding:10px;
}

.botonAgregar:hover{
    color: rgba(255, 166, 0, 0.76);
    background-color: white;
}